C:\Users\kenny\Projects\DjangoTutorials\DRF_React_Project\React_Frontend\.vscode
C:\Users\kenny\Projects\DjangoTutorials\DRF_React_Project\DRF\core\.env

C:\Users\kenny\Projects\DjangoTutorials\DRF_React_Project\React_Frontend\blogapi\node_modules
C:\Users\kenny\Projects\DjangoTutorials\DRF_React_Project\React_Frontend\node_modules