@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lato&family=Permanent+Marker&family=Signika:wght@300;400&family=Varela+Round&display=swap");

:root {
  --dark-bg: #191a1c;
}

* {
  transition: 0.15s;
  outline: none;
}

.dark-page-bg {
  background-color: var(--dark-bg) !important;
}

.bg-dark {
  background-color: #212529 !important;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  width: 90%;
  margin: 0.5rem auto;
  border-radius: 0.3rem;
}

img {
  width: 100%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Signika", sans-serif;
}

.navbar-collapse {
  display: grid;
}

.navbar-nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.nav-item.dropdown {
  grid-column: end;
}

nav .dropdown-menu i {
  opacity: 0.4;
  padding: 0 0.3rem 0 0;
}

.dark-mode-toggler {
  grid-column: 12;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.dark-mode-toggler .fa-moon {
  color: beige;
}

main {
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 0.4rem;
}

main .badge {
  font-size: 1rem;
}

.dashboard {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.dashboard .user-info {
  grid-column: 1/3;
  padding: 1rem;
  border-radius: 0.25rem;
}

.dashboard .news {
  padding: 1rem;
  border-radius: 0.25rem;
}

.dashboard .user-posts {
  grid-column: 1/4;
  display: grid;
  grid-gap: 0.5rem;
}

.user-posts .manage-user-posts {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.dashboard .user-posts .user-post {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.dashboard .user-posts .pagination {
  grid-column: 1/3;
  margin: 1rem 0 -1rem 0;
}

.user-posts .user-post .title {
  grid-column: 1/4;
  font-size: 1.1rem;
  font-weight: bold;
}

.user-post .title a.text-light {
  color: rgb(185, 185, 185) !important;
}

.user-posts .user-post .published {
  grid-column: 4/7;
  color: var(--secondary);
}

.user-posts .user-post .actions {
  grid-column: 7;
}

.actions .fa-wrench {
  color: var(--info);
  margin-right: 0.5rem;
}

.actions .fa-trash-alt {
  color: var(--danger);
  margin-left: 0.5rem;
}

.searchbar {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  grid-gap: 1rem;
}

.searchbar input {
  grid-column: 1/12;
}

.searchbar input:focus {
  outline: none !important;
}

.no-results {
  margin: 0 auto 1rem;
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.no-results h3 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--gray);
  padding: 1rem 0.5rem;
}

.no-results h3 i {
  padding-left: 0.5rem;
}

.posts-results-section {
  width: 90%;
  margin: 0 auto 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 2rem;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
}

.posts-results-section .post {
  width: 90%;
  margin: 0 auto;
}

.posts-results-section .post h3 {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: bold;
}

.posts-results-section .post hr {
  height: 0.005rem;
}

.posts-results-section .post div {
  opacity: 0.6;
}

.posts-results-section .date,
.posts-results-section .author {
  display: inline;
}

.posts-results-section .author {
  margin-right: 0.5rem;
  color: var(--info);
}

.posts-results-section .vertical-line {
  margin-right: 0.5rem;
  opacity: 0.5;
  color: var(--black);
}

.posts-results-section .post .fa-arrow-right {
  margin-left: 0.5rem;
  color: var(--success) !important;
  opacity: 1;
}

.posts-results-on-change {
  margin: -0.5rem 0 1rem 0;
}

.posts-results-on-change p {
  opacity: 0.85;
  display: inline;
}

.posts-results-on-change .fa-search-plus {
  opacity: 0.15;
  padding-right: 0.5rem;
}

.post-tags {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5rem;
}

.sorted-by span {
  color: slategrey;
}

.posts-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.blog-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

.blog-post.bg-dark.border {
  border: 1px solid #dee2e621 !important;
}

.blog-post-img {
  min-width: 35rem;
  max-height: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
  border-radius: 0.5rem;
}

.blog-post.bg-dark .blog-post-img.border {
  border: 1px solid #dee2e660 !important;
}

.blog-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.1);
}

.blog-post-date span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 0;
}

.blog-post-date span:first-child {
  margin-right: 0.5rem;
}

.blog-post-author span {
  font-weight: bold;
}

.blog-post.bg-dark .blog-post-date span {
  color: rgba(255, 255, 255, 0.5);
}

.blog-post-title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  color: var(--info);
  font-weight: bolder;
  text-transform: capitalize;
}

.blog-post-text {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post.bg-dark .blog-post-text {
  color: rgba(255, 255, 255, 0.7);
}

.blog-post-cta {
  display: inline-block;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(to right, var(--success), var(--info));
}

.blog-post-cta:hover {
  text-decoration: none;
  background: linear-gradient(to right, var(--info), var(--success));
  transform: scale(0.98);
  color: white;
}

.blog-post-options {
  width: 60%;
  height: 100%;
  margin: 0 -2rem 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.blog-post-options .react {
  display: grid;
  grid-template-columns: 1fr;
  height: 30%;
  text-align: center;
  grid-gap: 0.2rem;
}

.blog-post-options .react .rate {
  justify-self: center;
  width: 4.5rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.blog-post-options .other-react {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.posts-section .blog-post:nth-child(even) {
  flex-direction: row-reverse;
}

.posts-section .blog-post:nth-child(even) .blog-post-img {
  transform: translateX(8rem);
}

.posts-section .blog-post:nth-child(even) .blog-post-options {
  margin: 0 0 0 -3rem;
}

.pagination .page-link {
  color: black;
  font-weight: bold;
}

.pagination .page-link.disabled,
.page-link.disabled a {
  color: rgb(85, 85, 85);
  cursor: not-allowed !important;
}

.pagination .page-item.active .page-link {
  background-color: var(--success) !important;
  outline: none !important;
  height: 100%;
}

.pagination li:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.dropdown-menu .dropdown-item {
  background-color: white;
  color: black;
}

.nav-link.active {
  color: blue;
}

.form-container {
  width: 30%;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form-group {
  margin-top: 1rem;
}

.form-group label {
  margin-top: 0.5rem;
}

.form-container button {
  margin-top: 0.5rem;
}

.form-container p {
  margin: 1rem 0 0rem;
}

.update-cancel-post-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.update-cancel-post-container button {
  margin-top: 0;
}

:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.logout {
  width: 90%;
  text-align: center;
  margin: 1rem auto;
  border-radius: 0.4rem;
  padding: 1rem;
}

.logout p {
  font-size: 1.2rem;
}

.logout-action-wrapper a,
.delete-post-action-wrapper button {
  margin: 0 2rem 0 2rem;
}

.dark-page-shadow {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-dark {
  border: none !important;
}

.card-img-top {
  object-fit: cover;
  max-height: 40vh;
}
.card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-body .date-posted {
  grid-column: end;
}

.card-body .card-title {
  display: block;
  grid-column: 1/6;
}

.card-body .btn-info {
  grid-column: end;
}

.post-container {
  width: 70%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.post-container .fade {
  height: 20vh;
}

.post-container h1 {
  margin: 0;
  padding: 1rem;
  border-radius: 0.2rem 0.2rem 0 0;
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.7)
  );
  color: aliceblue;
  height: 100%;
}

.post-container .post-img-title {
  grid-column: 1/13;
  border-radius: 0.4rem;
  position: relative;
}

.post-container .post-body {
  margin-top: -2rem;
  grid-column: 2/12;
  padding: 1rem;
  border-radius: 0.2rem;
  z-index: 2;
  min-height: 40vh;
}

.post-container .post-body .post-content {
  color: rgb(190, 190, 190);
}

.post-container .comments {
  grid-column: 1/10;
  min-height: 10vh;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  z-index: 3;
}

.container-404 {
  width: 90%;
  margin: 0 auto 0.5rem;
  padding: 5rem 0;
  border-radius: 0.4rem;
}

.error-404 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.error-404 h1 {
  font-size: 6rem;
  color: var(--danger);
}

.error-404 h1 i {
  padding: 0 1rem;
  font-size: 4.5rem;
}

.post-dark-loader span {
  background-color: #212529 !important;
  background-image: linear-gradient(
    90deg,
    rgb(0 0 0 / 0%),
    rgb(110 109 109 / 10%),
    rgb(200 200 200 / 0.5%)
  ) !important;
}

footer {
  width: 90%;
  margin: 0 auto;
  border-radius: 0.3rem;
}

.footer-dark .border-bottom {
  border: none !important;
}

@media only screen and (max-width: 1024px) {
  .blog-post {
    max-width: 80rem;
    padding: 2.5rem;
    flex-direction: column;
    margin-top: 4rem;
  }

  .blog-post-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -5rem);
  }

  .posts-section .blog-post:nth-child(even) {
    flex-direction: column;
  }

  .posts-section .blog-post:nth-child(even) .blog-post-img {
    transform: translate(0, -5rem);
  }

  .blog-post-options {
    margin: 2rem 0 0;
    width: 100%;
    height: 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .posts-section .blog-post:nth-child(even) .blog-post-options {
    margin: 2rem 0 0 0;
  }

  .blog-post-options .react {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .blog-post-options .react .rate {
    margin: 0 1rem 0 0;
  }

  .blog-post-options .react .rate span {
    vertical-align: sub;
  }

  .blog-post-options .other-react {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 780px) {
  html,
  .dark-page-bg {
    overflow-x: hidden;
  }

  .blog-post {
    max-width: 80rem;
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .blog-post-options .other-react {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog-post-img {
    transform: translate(0, -3rem);
  }

  .posts-section .blog-post:nth-child(even) .blog-post-img {
    transform: translate(0, -3rem);
  }
}

@media only screen and (max-width: 430px) {
  .dark-mode-toggler {
    grid-column: 11;
  }

  .blog-post {
    padding: 1rem;
  }

  .blog-post-options {
    grid-template-columns: 1fr 1fr;
    height: 8%;
  }

  .blog-post-options .other-react {
    grid-column: 1;
  }
}

@media only screen and (max-width: 380px) {
  .post-tags {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ---------------------------------------- extras ----------------------------------------*/

/*------------------bg color styling rate------------------*/
.rate1b {
  background-color: #0a2766;
}
.rate1m {
  background-color: #577590;
}

.rate100k {
  background-color: #1d5040;
}

.rate1k {
  background-color: #78c08e;
}

.rate0 {
  background-color: rgb(179, 179, 179);
}

.rate-1k {
  background-color: #f9c74f;
}

.rate-100k {
  background-color: #eec029;
}

.rate-1m {
  background-color: #f75f0e;
}

.rate-1b {
  background-color: #fa3337;
}

.rm-box-shadow {
  box-shadow: none;
}

.hTyhSc.hTyhSc.hTyhSc {
  margin: 0 auto 1rem !important;
}
