@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lato&family=Permanent+Marker&family=Signika:wght@300;400&family=Varela+Round&display=swap");

:root {
  --dark-bg: #191a1c;
}

::-webkit-scrollbar {
  width: 12px;
  background: none;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(var(--success), var(--primary)); */
  background: var(--primary);
  border: 0.05rem solid rgba(255, 255, 255, 1);
  border-radius: 0.1rem;
}

* {
  transition: 0.15s;
  outline: none;
}

.btn:focus {
  box-shadow: none;
}

.dark-page-bg {
  background-color: var(--dark-bg) !important;
}

.bg-dark {
  background-color: #212529 !important;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  width: 90%;
  margin: 0.5rem auto;
  border-radius: 0.3rem;
}

img {
  width: 100%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Signika", sans-serif;
}

.navbar-collapse {
  display: grid;
}

.navbar-nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.nav-link .fa-user-circle {
  font-size: 1.2rem;
  padding: 0 0.5rem 0 0;
  justify-self: baseline;
  text-align: center;
  opacity: 0.8;
}

.nav-item.dropdown {
  grid-column: end;
}

nav .dropdown-menu i {
  opacity: 0.4;
  padding: 0 0.3rem 0 0;
}

.dark-mode-toggler {
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 1;
}

.dark-mode-toggler span {
  font-style: normal;
  font-size: 1rem;
  padding-left: 0.2rem;
}

main {
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 0.4rem;
}

main .badge {
  font-size: 1rem;
}

.dashboard {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.dashboard .user-info {
  grid-column: 1/3;
  padding: 1rem;
  border-radius: 0.25rem;
}

.user-info h4 b {
  color: var(--info);
}

.dashboard .user-info .more-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dashboard .user-info .more-info p:first-child span {
  color: var(--orange);
}

.dashboard .user-info hr {
  margin: -0.5rem 0 1rem;
}

.dashboard .user-info .bio label {
  display: none;
}

.dashboard .posts-reacted {
  position: relative;
  border-radius: 0.25rem;
  padding: 1rem;
}

.posts-reacted .accordion {
  margin: 1rem 0;
  position: relative;
}

.posts-reacted .accordion button {
  outline: none;
  width: 100%;
  border-radius: 0.2rem;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.45);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.3rem;
}

.posts-reacted .accordion button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.posts-reacted .accordion button span {
  grid-column: 1/3;
  font-weight: bold;
  text-transform: capitalize;
}

.posts-reacted .accordion button i {
  text-align: right;
  align-self: center;
  margin-right: 0.5rem;
  opacity: 0.7;
  grid-column: end;
}

.posts-reacted .accordion .data {
  height: 0;
  overflow: hidden;
}

.accordion .data1,
.accordion .data2,
.accordion .data3 {
  max-height: 10rem;
  margin-left: 0.1rem;
  box-shadow: 2px 8px 13px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 0.3rem;
  overflow-y: auto;
  position: absolute;
  width: -webkit-fill-available;
  background: aliceblue;
  z-index: 1;
}

.posts-reacted.bg-dark .accordion .data1,
.posts-reacted.bg-dark .accordion .data2,
.posts-reacted.bg-dark .accordion .data3 {
  background: #212529;
}

.data1 i,
.data2 i,
.data3 i,
.data1 span,
.data2 span,
.data3 span {
  opacity: 0.5;
}

.accordion a {
  color: var(--info);
}

.posts-reacted.bg-dark .accordion button {
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(95, 95, 95, 0.3);
}

.posts-reacted.bg-dark .accordion button:hover {
  border: 0.1rem solid white;
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.dashboard .user-posts {
  grid-column: 1/4;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.user-posts .manage-user-posts {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.dashboard .user-posts .user-post {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.dashboard .user-posts .pagination {
  grid-column: 1/4;
  margin: 1rem 0 -1rem 0;
}

.user-posts .user-post .title {
  grid-column: 1/4;
  font-size: 1.1rem;
  font-weight: bold;
}

.user-post .title a.text-light {
  color: rgb(185, 185, 185) !important;
}

.user-posts .user-post .published {
  grid-column: 4/7;
  color: var(--secondary);
}

.user-posts .user-post .actions {
  grid-column: 7;
}

.actions .fa-wrench {
  color: var(--info);
  margin-right: 0.5rem;
}

.actions .fa-trash-alt {
  color: var(--danger);
  margin-left: 0.5rem;
}

.searchbar {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  grid-gap: 1rem;
}

.searchbar input {
  grid-column: 1/12;
}

.searchbar input:focus {
  outline: none !important;
}

.no-results {
  margin: 0 auto 1rem;
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.no-results h3 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--gray);
  padding: 1rem 0.5rem;
}

.no-results h3 i {
  padding-left: 0.5rem;
}

.posts-results-section {
  width: 90%;
  margin: 0 auto 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 2rem;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
}

.posts-results-section .post {
  width: 90%;
  margin: 0 auto;
}

.posts-results-section .post h3 {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: bold;
}

.posts-results-section .post hr {
  height: 0.005rem;
}

.posts-results-section .post div {
  opacity: 0.6;
}

.posts-results-section .date,
.posts-results-section .author {
  display: inline;
}

.posts-results-section .author {
  margin-right: 0.5rem;
  color: var(--info);
}

.posts-results-section .vertical-line {
  margin-right: 0.5rem;
  opacity: 0.5;
  color: var(--black);
}

.posts-results-section .post .fa-arrow-right {
  margin-left: 0.5rem;
  color: var(--success) !important;
  opacity: 1;
}

.posts-results-on-change {
  margin: -0.5rem 0 1rem 0;
}

.posts-results-on-change p {
  opacity: 0.85;
  display: inline;
}

.posts-results-on-change .fa-search-plus {
  opacity: 0.15;
  padding-right: 0.5rem;
}

.post-tags {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5rem;
}

.sorted-by span {
  color: slategrey;
}

.posts-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.blog-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

.blog-post.bg-dark.border {
  border: 1px solid #dee2e621 !important;
}

.blog-post-img {
  min-width: 35rem;
  max-height: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
  border-radius: 0.5rem;
}

.blog-post.bg-dark .blog-post-img.border {
  border: 1px solid #dee2e660 !important;
}

.blog-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.1);
}

.blog-post-date span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 0;
}

.blog-post-date span:first-child {
  margin-right: 0.5rem;
}

.blog-post-author span {
  font-weight: bold;
}

.blog-post.bg-dark .blog-post-date span {
  color: rgba(255, 255, 255, 0.5);
}

.blog-post-title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  color: var(--info);
  font-weight: bolder;
  text-transform: capitalize;
}

.blog-post-text {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post.bg-dark .blog-post-text {
  color: rgba(255, 255, 255, 0.7);
}

.blog-post.bg-dark button {
  color: white;
}

.blog-post-cta {
  display: inline-block;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(to right, var(--success), var(--info));
}

.blog-post-cta:hover {
  text-decoration: none;
  background: linear-gradient(to right, var(--info), var(--success));
  transform: scale(0.98);
  color: white;
}

.blog-post-options .fa-info-circle {
  font-size: 1.5rem;
  color: var(--success);
  text-align: center;
  display: block;
  grid-row: end;
}

.blog-post-options {
  width: 60%;
  height: 100%;
  margin: 0 -2rem 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.blog-post-options .react {
  display: grid;
  grid-template-columns: 1fr;
  height: 30%;
  text-align: center;
  grid-gap: 0.2rem;
}

.blog-post-options .rate {
  justify-self: center;
  height: 2rem;
  width: 4.5rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.blog-post-options .other-react {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.posts-section .blog-post:nth-child(even) {
  flex-direction: row-reverse;
}

.posts-section .blog-post:nth-child(even) .blog-post-img {
  transform: translateX(8rem);
}

.posts-section .blog-post:nth-child(even) .blog-post-options {
  margin: 0 4rem 0 -3rem;
}

.pagination .page-link {
  color: black;
  font-weight: bold;
}

.pagination .page-link.disabled,
.page-link.disabled a {
  color: rgb(85, 85, 85);
  cursor: not-allowed !important;
}

.pagination .page-item.active .page-link {
  background-color: var(--success) !important;
  outline: none !important;
  height: 100%;
}

.pagination li:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.dropdown-menu .dropdown-item {
  background-color: white;
  color: black;
}

.nav-link.active {
  color: blue;
}

.form-container {
  width: 30%;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
}

.form-group {
  margin-top: 1rem;
}

.form-group label {
  margin-top: 0.5rem;
}

.form-container button {
  margin-top: 0.5rem;
}

.form-container p {
  margin: 1rem 0 0rem;
}

.update-cancel-post-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.update-cancel-post-container button {
  margin-top: 0;
}

:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.logout {
  width: 90%;
  text-align: center;
  margin: 1rem auto;
  border-radius: 0.4rem;
  padding: 1rem;
}

.logout p {
  font-size: 1.2rem;
}

.logout-action-wrapper a,
.delete-post-action-wrapper button {
  margin: 0 2rem 0 2rem;
}

.dark-page-shadow {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-dark {
  border: none !important;
}

.card-img-top {
  object-fit: cover;
  max-height: 40vh;
}
.card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-body .date-posted {
  grid-column: end;
}

.card-body .card-title {
  display: block;
  grid-column: 1/6;
}

.card-body .btn-info {
  grid-column: end;
}

.post-container {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.post-container .fade {
  height: 20vh;
}

.post-container .image-overlay {
  margin: 0;
  padding: 2rem;

  z-index: 1;
  position: absolute;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.7)
  );
  height: 100%;
}

.post-container h1 {
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.post-container .post-img-title {
  grid-column: 1/13;
  border-radius: 0.4rem;
  position: relative;
}

.post-container .post-body {
  margin-top: -2rem;
  grid-column: 2/12;
  padding: 1rem;
  border-radius: 0.2rem;
  z-index: 2;
  min-height: 40vh;
}

.post-container .post-body span p {
  display: inline;
}

.post-container .post-body span p:last-child {
  padding-left: 0.5rem;
  font-style: italic;
}

.post-container .post-body span p b {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.post-container .post-body .post-content {
  color: rgb(190, 190, 190);
}

.post-container .comments {
  grid-column: 2/12;
  min-height: 10vh;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  display: grid;
  grid-template-columns: 1fr;
}

.comments .comments-header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.comments .comment-form {
  grid-column: 1;
}

.comments .comment-form label {
  display: none;
}

.comments .comment-form button {
  float: right;
}

.comments .comments-header p:first-child {
  grid-column: 1/3;
  color: var(--primary);
  font-weight: bold;
}

.comments .comments-header p:last-child {
  grid-column: end;
}

.post-container .comments section {
  grid-column: 1/11;
}

.comments section h4 {
  color: var(--secondary);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.comments section .singular-comment {
  margin: 2.5rem 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: #e7eaec;
}

.singular-comment .comment-header p:first-child {
  color: var(--info);
  padding-right: 1rem;
}

.singular-comment .comment-header p:last-child {
  color: var(--secondary);
}

.singular-comment .comment-header p {
  display: inline;
}

.singular-comment p {
  word-break: break-word;
}

.comments section .singular-comment .fa-user-check {
  opacity: 0.4;
  padding-left: 0.5rem;
}

.post-container.text-light .comments section .singular-comment {
  background: #191c20;
}

.container-404 {
  width: 90%;
  margin: 0 auto 0.5rem;
  padding: 5rem 0;
  border-radius: 0.4rem;
}

.error-404 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.error-404 h1 {
  font-size: 6rem;
  color: var(--danger);
}

.error-404 h1 i {
  padding: 0 1rem;
  font-size: 4.5rem;
}

.post-dark-loader span {
  background-color: #212529 !important;
  background-image: linear-gradient(
    90deg,
    rgb(0 0 0 / 0%),
    rgb(110 109 109 / 10%),
    rgb(200 200 200 / 0.5%)
  ) !important;
}

footer {
  width: 90%;
  margin: 0 auto;
  border-radius: 0.3rem;
}

.footer-dark .border-bottom {
  border: none !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
}

.scroll-to-top button:hover {
  background: var(--bs-teal);
}

@media only screen and (max-width: 1024px) {
  .blog-post {
    max-width: 80rem;
    padding: 2.5rem;
    flex-direction: column;
    margin-top: 4rem;
  }

  .blog-post-img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -5rem);
  }

  .posts-section .blog-post:nth-child(even) {
    flex-direction: column;
  }

  .posts-section .blog-post:nth-child(even) .blog-post-img {
    transform: translate(0, -5rem);
  }

  .blog-post-options {
    margin: 2rem 0 0;
    width: 100%;
    height: 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .posts-section .blog-post:nth-child(even) .blog-post-options {
    margin: 2rem 0 0 0;
  }

  .blog-post-options .fa-info-circle {
    text-align: right;
    grid-row: unset;
    grid-column: end;
  }

  .blog-post-options .react {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .blog-post-options .rate {
    margin: 0 1rem 0 0;
    justify-self: left;
  }

  .blog-post-options .other-react {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
  }

  .dashboard .user-posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .dashboard .manage-user-posts {
    grid-column: 1/3;
  }

  .dashboard .user-posts .user-post:nth-child(even) {
    grid-column: 1/2;
  }
  .dashboard .user-posts .user-post:nth-child(odd) {
    grid-column: 2/3;
  }
}

@media only screen and (max-width: 780px) {
  html,
  .dark-page-bg {
    overflow-x: hidden;
  }

  .navbar-nav .nav-item:nth-child(2) {
    grid-column: 3;
  }

  .navbar-nav .nav-item:last-child {
    grid-column: 1;
  }

  .blog-post {
    max-width: 80rem;
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .blog-post-options .other-react {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog-post-img {
    transform: translate(0, -3rem);
  }

  .posts-section .blog-post:nth-child(even) .blog-post-img {
    transform: translate(0, -3rem);
  }

  .dashboard .posts-reacted,
  .dashboard .user-info {
    grid-column: 1/4;
  }

  .dashboard .manage-user-posts {
    grid-template-columns: repeat(4, 1fr);
  }

  .dashboard .user-posts {
    display: block;
  }

  .dashboard .user-posts .user-post {
    margin-bottom: 0.5rem;
  }

  .form-container {
    width: 50%;
  }

  .comments .comments-header p:first-child {
    grid-column: 1/4;
  }
}

@media only screen and (max-width: 430px) {
  .navbar-nav .nav-item {
    grid-column: 1 !important;
  }

  .blog-post {
    padding: 0.5rem;
  }

  .blog-post-options {
    grid-template-columns: 1fr 1fr;
  }

  .blog-post-options .other-react {
    grid-column: 1;
  }

  .form-container {
    width: 70%;
  }

  .post-container .post-body span p {
    display: block;
    padding: 0;
  }

  .post-container .post-body span span {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .post-tags {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-container {
    width: 80%;
  }
}

/* ---------------------------------------- extras ----------------------------------------*/

/*------------------bg color styling rate------------------*/
.rate1b {
  background-color: #271b6b;
}
.rate1m {
  background-color: #1b3385;
}

.rate100k {
  background-color: #0d5f4b;
}

.rate1k {
  background-color: #196d9e;
}

.before1k {
  background-color: #74e1f0;
  color: black;
}

.rate0 {
  background-color: rgb(179, 179, 179);
  color: #191a1c;
}

.before-1k {
  background-color: #f1b33e;
  color: black;
}

.rate-1k {
  background-color: #ff971f;
}

.rate-100k {
  background-color: #d1530a;
}

.rate-1m {
  background-color: #e02b0b;
}

.rate-1b {
  background-color: #660405;
}

.rm-box-shadow {
  box-shadow: none;
}

.hTyhSc.hTyhSc.hTyhSc {
  margin: 0 auto 1rem !important;
}
